.head{
    width: 100%;
    height: 60px;
    background-color: #333333;

}
.headContent{
    margin: 0 auto;
    height: 100%;
    width: 1400px;
    display: flex;
    align-items: center;
    color: #fff;
}
.headNav{
    display: flex;
    font-size: 22px;
    flex: 2;
}
.headNav >div{
    padding: 0 30px;
    height: 60px;
    line-height: 60px;
    cursor: pointer;
    margin-right: 40px;
}
.headNav >div.active{
    height:60px;
    border-bottom: 4px solid #f19108;
    color: #f19108;
}
.searchBox{
    background-color: #fff;
    height: 30px;
    width: 300px;
    display: flex;
    align-items: center;
    border-radius: 20px;
    padding: 0 6px;
    flex: 1;

}
.searchBox input{
    width: 100%;
    outline: none;
    border: none;
    text-indent: 4px;
}
.address_login{
    margin-left: 30px;
    flex: 1;
    display: flex;
    justify-content: flex-end;
}
.address{
    cursor: pointer;
    margin-right: 30px;
}
.login_register{
    
}
.login_register > span{
    cursor: pointer;
}
.login_register > span:hover{
    color: #f19108;
}
.outLogin{
    display: inline-block;
    margin-left: 20px;
}
.logo{
    width: 80px;
    height: 60px;
    margin-right: 20px;
}
.logo img{
    width: 100%;
    height: 100%;
}
.content{
    width: 1400px;
    margin: 40px auto;
}
.goodsBox{
    width: 100%;
}
.goodsBox > div{
    width: 100%;
    background-color: #fff;
    border: 1px solid #e8e8e8;
    padding: 30px;
    display: flex;
    justify-content: space-between;
    font-size: 14px;
    margin-bottom: 20px;
}
.goodsBox > div:hover{
    background-color: #FFF8E1;
}
.checkbox{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 40px;
}
.checkbox input{
    width: 20px;
    height: 20px;
}
.img_name{
    display: flex;
}
.img_name .img{
    width: 100px;
    height: 100px;
    border: 1px solid #e8e8e8;

}
.img_name .img >img{
    width: 100%;
    height: 100%;
}
.img_name .name {
    width: 200px;
    margin-left: 20px;
}

.goodsDetail >div{
    display: flex;
    align-items: center;
    color: #aaa;
}
.price{
    color: #000;
    font-weight: bold;
}
.totalPrice{
    color: #e93a38;
    font-weight: bold;
}
.buyBox{
    width: 100%;
    height: 60px;
    background-color: #fff;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 0 0 30px;
}
.countAllPrice{
    display: flex;
    align-items: center;
}
.allprice{
    font-size: 18px;
    color: #e93a38;
    font-weight: bold;
}
.toBuy{
    width: 100px;
    text-align: center;
    background-color: #e93a38;
    color: #fff;
    height: 60px;
    line-height: 60px;
    margin-left: 30px;
    cursor: pointer;
}
.editGoods{
    display: flex;
}
label{
    display: flex;
}
.deleteAll{
    margin-left: 20px;
    cursor: pointer;
}