.head{
    width: 100%;
    height: 60px;
    background-color: #333333;

}
.headContent{
    margin: 0 auto;
    height: 100%;
    width: 1400px;
    display: flex;
    align-items: center;
    color: #fff;
}
.headNav{
    display: flex;
    font-size: 22px;
    flex: 2;
}
.headNav >div{
    padding: 0 30px;
    height: 60px;
    line-height: 60px;
    cursor: pointer;
    margin-right: 40px;
}
.headNav >div.active{
    height:60px;
    border-bottom: 4px solid #f19108;
    color: #f19108;
}
.searchBox{
    background-color: #fff;
    height: 30px;
    width: 300px;
    display: flex;
    align-items: center;
    border-radius: 20px;
    padding: 0 6px;
    flex: 1;

}
.searchBox input{
    width: 100%;
    outline: none;
    border: none;
    text-indent: 4px;
}
.address_login{
    margin-left: 30px;
    flex: 1;
    display: flex;
    justify-content: flex-end;
}
.address{
    cursor: pointer;
    margin-right: 30px;
}
.login_register{
    
}
.login_register > span{
    cursor: pointer;
}
.login_register > span:hover{
    color: #f19108;
}
.outLogin{
    display: inline-block;
    margin-left: 20px;
}
.logo{
    width: 80px;
    height: 60px;
    margin-right: 20px;
}
.logo img{
    width: 100%;
    height: 100%;
}
.content{
    width: 1400px;
    margin: 40px auto;
}
.orderNav{
    display: flex;
    align-items: center;
    background-color: #fff;
    padding: 10px 20px;
}
.orderNav >div{
    margin-right: 30px;
    cursor: pointer;
    padding:  0 10px 5px;
}
.orderNav >div.active{
    border-bottom: 2px solid #f19108;
    color: #f19108;
}
.orderList > div{
    padding: 20px;
}
.orderList > div > .orderDetail{
    width: 100%;
    background-color: #fff;
    /* border: 1px solid #e8e8e8; */
    padding: 30px;
    display: flex;
    justify-content: space-between;
    font-size: 14px;
    border-bottom: 1px solid #e8e8e8;
}
.img_name{
    display: flex;
    width: 400px;
}
.img_name .img{
    width: 100px;
    height: 100px;
    border: 1px solid #e8e8e8;

}
.img_name .img >img{
    width: 100%;
    height: 100%;
}
.img_name .name {
    width: 200px;
    margin-left: 20px;
}
.goodsDetail{
    width: 500px;
}
.goodsDetail >div{
    display: flex;
    color: #aaa;
    margin-bottom: 10px;
}
.goodsDetail >div>span{
    display: inline-block;
    min-width: 70px;
}
.price{
    color: #000;
    font-weight: bold;
}
.totalPrice{
    color: #e93a38;
    font-weight: bold;
}
.order_foot{
    background-color: #fff;
    height: 40px;
    display: flex;
    /* justify-content: space-between; */
    align-items: center;
}
.order_foot .right{
    display: flex;
    align-items: center;
}
.order_foot .right >span{
    font-size: 18px;
    color: #e93a38;
    display: inline-block;
    margin-right: 30px;
}
.order_foot .right .buyBtn{
    width: 100px;
    text-align: center;
    background-color: #e93a38;
    color: #fff;
    height: 40px;
    line-height: 40px;
    cursor: pointer;
}
.address{
    /* padding-left: 30px; */
}
.orderAll{
    width: 100%;
    background-color: #fff;
    height: 60px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.orderAll .topay{
    display: flex;
    align-items: center;
}
.orderAll .topay >span{
    display: inline-block;
    font-size: 18px;
    color: #e93a38;
    margin-right: 20px;
    font-weight: bold;
}
.orderAll .topay >div{
    width: 100px;
    height: 60px;
    text-align: center;
    line-height: 60px;
    color: #fff;
    font-size: 18px;
    background-color: #e93a38;
    cursor: pointer;
}
.checkbox{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 40px;
}
.checkbox input{
    width: 20px;
    height: 20px;
}
label{
    display: flex;
}