<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://unpkg.com/element-ui/lib/theme-chalk/index.css">
    <link rel="stylesheet" href="../css/reset.css">
    <link rel="stylesheet" href="../css/index.css">
    <script src="../js/vue.min.js"></script>
    <!-- <script src="https://unpkg.com/axios/dist/axios.min.js"></script> -->
    <script src="https://unpkg.com/element-ui/lib/index.js"></script>
    
    <title>商城首页</title>
</head>
<body>
    <div id="app">
        <div class="index">
            <div class="head">
                <div class="headContent">
                    <div class="logo"><img src="../img/logo.jpg" alt="" srcset=""></div>
                    <div class="headNav">
                        <div class="active iconfont" @click='toIndex'>首页</div>
                        <div @click='toCar'>购物车</div>
                        <div @click='toOrder'>我的订单</div>
                    </div>
                    <div class="searchBox">
                        <i class="el-icon-search" style="color:#aaa;font-size: 22px;"></i>
                        <input type="text" v-model="form.key" @keyup.enter='search' placeholder="请输入关键字">
                        <span v-show='form.key' @click='cleadSearBox' style="cursor: pointer;"><i class="el-icon-circle-close" style="color:#aaa;font-size: 22px;"></i></span>
                    </div>
                    <div class="address_login">
                        <div class="address" @click='toAddress'>地址管理</div>
                        <div class="login_register">
                            <span @click='toLogin'>登录</span>/<span @click='toRegister'>注册</span>
                        </div>
                        <!-- <div class="login_register">用户名<span class="outLogin">退出登录</span></div> -->
                    </div>
                </div>
            </div>
            <div class="content">
                <div class="goodsNavBox">
                    <div class="navTitle">商品分类</div>
                    <div class="navList">
                        <div v-for='item in navList' @click='changeClass(item.id)' :class='nowClassId == item.id?"active":""'><span>{{item.name}}</span></div>
                    </div>
                </div>
                <div class="goodsListBox">
                    <div v-for='item in list' class="productBox" @click='toDetail(item.id)'>
                        <div class="img">
                            <img :src="item.url" alt="">
                        </div>
                        <div class="productName"><span>{{item.name}}</span></div>
                        <div class="price"><span>￥</span><span>{{item.price}}</span></div>
                    </div>
                </div>
                <div class="pagination">
                    <el-pagination
                    @size-change="handleSizeChange"
                    @current-change="handleCurrentChange"
                    :current-page.sync="currentPage"
                    :page-size="20"
                    layout="prev, pager, next, jumper"
                    :total="total">
                    </el-pagination>
                </div>
            </div>
        </div>
    </div>
</body>

<script>
    var app = new Vue({
        el:'#app',
        data(){
            return{
                nowClassId:'',
                currentPage:1,
                total:100,
                form:{
                    page:1,
                    limit:20,
                    key:''
                },
                list:[
                    {
                        id:1,
                        name:'不是二手商品的设任何搜收到货佛啊哈哈好风凉话',
                        price:123,
                        url:'http://pic11.secooimg.com/product/240/240/51/54/36a99564ecc749929f30ca528b3705b4.jpg'

                    },{
                        id:2,
                        name:'不是二手商品的设任何搜收到货佛啊哈哈好风凉话',
                        price:123,
                        url:'http://pic11.secooimg.com/product/240/240/51/54/36a99564ecc749929f30ca528b3705b4.jpg'

                    },{
                        id:3,
                        name:'不是二手商品的设任何搜收到货佛啊哈哈好风凉话',
                        price:123,
                        url:'http://pic11.secooimg.com/product/240/240/51/54/36a99564ecc749929f30ca528b3705b4.jpg'

                    },{
                        id:4,
                        name:'不是二手商品的设任何搜收到货佛啊哈哈好风凉话',
                        price:123,
                        url:'http://pic11.secooimg.com/product/240/240/51/54/36a99564ecc749929f30ca528b3705b4.jpg'

                    },{
                        id:5,
                        name:'不是二手商品的设任何搜收到货佛啊哈哈好风凉话',
                        price:123,
                        url:'http://pic11.secooimg.com/product/240/240/51/54/36a99564ecc749929f30ca528b3705b4.jpg'

                    },
                    {
                        id:6,
                        name:'不是二手商品的设任何搜收到货佛啊哈哈好风凉话',
                        price:123,
                        url:'http://pic11.secooimg.com/product/240/240/51/54/36a99564ecc749929f30ca528b3705b4.jpg'

                    },{
                        id:7,
                        name:'不是二手商品的设任何搜收到货佛啊哈哈好风凉话',
                        price:123,
                        url:'http://pic11.secooimg.com/product/240/240/51/54/36a99564ecc749929f30ca528b3705b4.jpg'

                    },{
                        id:8,
                        name:'不是二手商品的设任何搜收到货佛啊哈哈好风凉话',
                        price:123,
                        url:'http://pic11.secooimg.com/product/240/240/51/54/36a99564ecc749929f30ca528b3705b4.jpg'

                    },{
                        id:9,
                        name:'不是二手商品的设任何搜收到货佛啊哈哈好风凉话',
                        price:123,
                        url:'http://pic11.secooimg.com/product/240/240/51/54/36a99564ecc749929f30ca528b3705b4.jpg'

                    },{
                        id:10,
                        name:'不是二手商品的设任何搜收到货佛啊哈哈好风凉话',
                        price:123,
                        url:'http://pic11.secooimg.com/product/240/240/51/54/36a99564ecc749929f30ca528b3705b4.jpg'

                    },
                ],
                navList:[
                    {
                        id:1,
                        name:'二手包'
                    },{
                        id:2,
                        name:'二手表'
                    },{
                        id:3,
                        name:'二手火机'
                    },
                ]
            }
        },
        methods: {
            handleSizeChange(val) {
                console.log(`每页 ${val} 条`);
            },
            handleCurrentChange(val) {
                console.log(`当前页: ${val}`);
            },
            toRegister(){

            },
            toLogin(){

            },
            toOrder(){
                location.href = './order.html'
            },
            toCar(){
                location.href = './goodsCar.html'
            },
            toAddress(){
                location.href = './addressManage.html'
            },
            toIndex(){
                location.reload()
            },
            cleadSearBox(){
                this.form.key = ''
            },
            getList(){
                console.log(1111)
            },
            search(){
                this.getList()
            },
            changeClass(id){
                
                if(this.nowClassId == id){
                    this.nowClassId = ''
                }else{
                    this.nowClassId = id
                }
                this.getList()
            },
            toDetail(id){
                location.href = './goodsDetail.html?goodsId=' + id
            }
        },
        mounted() {
            this.getList()
        },
    })
</script>
</html>