<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://unpkg.com/element-ui/lib/theme-chalk/index.css">
    <link rel="stylesheet" href="../css/reset.css">
    <link rel="stylesheet" href="../css/order.css">
    <script src="../js/vue.min.js"></script>
    <!-- <script src="https://unpkg.com/axios/dist/axios.min.js"></script> -->
    <script src="https://unpkg.com/element-ui/lib/index.js"></script>
    <title>我的订单</title>
</head>
<body>
    <div id="app">
        <div class="order">
            <div class="head">
                <div class="headContent">
                    <div class="logo"><img src="../img/logo.jpg" alt="" srcset=""></div>
                    <div class="headNav">
                        <div  @click='toIndex'>首页</div>
                        <div @click='toCar'>购物车</div>
                        <div class="active">我的订单</div>
                    </div>
                    <!-- <div class="searchBox">
                        <i class="el-icon-search" style="color:#aaa;font-size: 22px;"></i>
                        <input type="text" v-model="form.key" @keyup.enter='search' placeholder="请输入关键字">
                        <span v-show='form.key' @click='cleadSearBox' style="cursor: pointer;"><i class="el-icon-circle-close" style="color:#aaa;font-size: 22px;"></i></span>
                    </div> -->
                    <div class="address_login">
                        <div class="address" @click='toAddress'>地址管理</div>
                        <div class="login_register">
                            <span @click='toLogin'>登录</span>/<span @click='toRegister'>注册</span>
                        </div>
                        <!-- <div class="login_register">用户名<span class="outLogin">退出登录</span></div> -->
                    </div>
                </div>
            </div>
            <div class="content">
                <div class="orderNav">
                    <div v-for='item in nav' @click='changeNav(item.status)' :class='nowStatus == item.status?"active":""' :key='item.status'>{{item.title}}</div>
                </div>
                <div class="orderList">
                    <div v-for='item in list' :key='item.order_id'>
                        <div class="orderDetail">
                            <div v-if='item.status == 1' class="checkbox"><input type="checkbox" :value='item.order_id' v-model='checkedIds'></div>
                            <div class="img_name">
                                <div class="img"><img :src="item.com_list.cover_img" alt=""></div>
                                <div class="name">{{item.com_list.title}}</div>
                            </div>
                            <div class="goodsDetail">
                                <div><span>新旧程度：</span><p>{{item.com_list.old_new_degree}}</p></div>
                                <div><span>商品描述：</span><p>{{item.com_list.desc}}</p></div>
                            </div>
                            <div class="price"><span>￥{{item.com_list.price}}</span></div>
                            <div class="num">数量：{{item.com_list.num}}</div>
                            <div class="totalPrice"><span>￥{{item.com_list.totalPrice}}</span></div>
                        </div>
                        <div class="order_foot">
                            <div class="name" style="margin-left: 30px;">收件人：{{item.name}}</div>
                            <div class="phone" style="margin-left: 30px;">电话：{{item.phone}}</div>
                            <div class="address" style="margin-left: 30px;">收件地址：{{item.address}}</div>
                            <!-- <div class="right">
                                <span>￥{{item.allPrice}}</span>
                                <div class="buyBtn" v-if='item.status == 1'>结算</div>
                            </div> -->
                        </div>
                    </div>
                </div>
                <div class="orderAll" v-if='nowStatus == 0'>
                    <label for="checkall">
                        <div class="checkbox"><input type="checkbox" id="checkall" @change='checkAllGoods' v-model='checkedAll'></div>
                        <span style="cursor: pointer;">全选</span>
                    </label>
                    <div class="topay">
                        <span>￥{{totalPrice}}</span>
                        <div @click='toPay'>去结算</div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</body>
<script>
    var app = new Vue({
        el:'#app',
        data(){
            return{
                checkedAll:false,
                checkedIds:[],
                nowStatus:0,
                nav:[
                    // {
                    //     title:'全部',
                    //     status:'0'
                    // },
                    {
                        title:'未付款',
                        status:'0'
                    },
                    {
                        title:'已付款',
                        status:'1'
                    },{
                        title:'待收货',
                        status:'2'
                    },{
                        title:'已完成',
                        status:'3'
                    },
                ],
                list:[
                    {
                        status:0,
                        allPrice:200,
                        name:"收件人名字",
                        phone:15182366959,
                        order_id:1,
                        address:"地址地址地址地址地址地址",
                        com_list:
                            {
                                id:1,
                                title:'Nike/耐克 Air Jordan 1 AJ1 中小童 黑蓝橙 运动休闲 篮球鞋 BQ6066-123',
                                price:100,
                                totalPrice:200,
                                old_new_degree:'八成新',
                                desc:'这里是商品描述',
                                stock:10,
                                cover_img:'../img/change-2_03.jpg',
                                status:1,
                                num:2
                            }
                        
                    },
                    {
                        status:1,
                        allPrice:200,
                        name:"收件人名字",
                        phone:15182366959,
                        order_id:2,
                        address:"地址地址地址地址地址地址",
                        com_list:
                            {
                                id:1,
                                title:'Nike/耐克 Air Jordan 1 AJ1 中小童 黑蓝橙 运动休闲 篮球鞋 BQ6066-123',
                                price:100,
                                totalPrice:200,
                                old_new_degree:'八成新',
                                desc:'这里是商品描述',
                                stock:10,
                                cover_img:'../img/change-2_03.jpg',
                                status:1,
                                num:2
                            }
                        
                    }
                ]
            }
        },
        methods: {
            checkAllGoods(){
                if(!this.checkedAll){
                    this.checkedIds = []
                }else{
                    this.list.forEach(item => {
                        this.checkedIds.push(item.order_id)
                    })
                }
            },
            changeNav(status){
                this.checkedIds = []
                this.nowStatus = status
                this.getList()
            },
            toPay(){
                if(!this.checkedIds.length){
                    this.$message('请至少选择一个订单')
                    return
                }
                // 接口
                // this.checkedIds  选择的订单ids

            },
            toRegister(){

            },
            toLogin(){

            },
            toIndex(){

            },
            toCar(){

            },
            toAddress(){
                location.href = './addressManage.html'
            },
            getList(){

            }

        },
        watch: {
            'checkedIds':function(){
                let cid = this.checkedIds.length
                let len = this.list.length
                if(cid == len){
                    this.checkedAll = true
                }else{
                    this.checkedAll = false
                }
            }
        },
        computed: {
            totalPrice(){
                let allPrice = 0
                let list = this.list.filter(item => {
                    if(this.checkedIds.indexOf(item.order_id) != -1){
                        return item
                    }
                })
                list.forEach(item => {
                    allPrice += item.allPrice
                })
                return allPrice
            }
        },
    })
</script>
</html>